@charset "utf-8";

.test1 {
	float: left;
	width: 100%;
	height: 500px;
	opacity: 0.8
}

.test2 {
	width: 100%;
	height: 500px;
	float: left;
	text-align: center;
}

.carousel-caption {
	padding-bottom: 40px;
}

.carousel-caption>#test3 {
	padding-bottom: 30px;
	text-shadow: 2px 2px 2px #000;
}

.carousel-caption>#test4 {
	text-shadow: 2px 2px 2px #000;
	padding-top: 30px;
	border-style: solid;
}

#test5 {
	font-family: 'Bad Script', cursive;
	font-size: 4.0em;
	color: #F8F0BC;
	padding-top: 20px;
	text-shadow: 2px 2px 2px #000;
}

.carousel-caption {
	padding-bottom: 40px;
	user-select: none;
}