@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

/* 모든 링크의 밑줄 제거
      ------------------------------------*/
a {
	text-decoration: none;
	color: #222;
}

a:hover {
	text-decoration: none;
}

/* 모든 목록정의 초기화. -여백은 6,7라인에서 제거했으므로 생략
      ------------------------------------*/
ul, ol {
	list-style: none;
}

/* 로고 css 가운데 정렬 */
.logo {
	text-align: center;
}

/* 로고 이미지 크기 */
.logo>a>img {
	width: 250px;
	height: 150px;
}

/* 로그인 / 회원가입 */
#user {
	text-align: center;
	padding-top: 145px;
	font-family: 'Oswald', sans-serif;
}

/* 로그인 / 회원가입 가로 정렬 */
#user>li {
	display: inline;
	margin-left: 10px;
	
}

.container {
	position: relative;
}
/* 사이드바 */
.sidebar>#sidebar_menu>li {
	margin-top: 40px;
}

/* 사이드바 크기 */
.sidebar {
	float: right;
}

/* 사이드바 고정 */
#sidebar_menu {
	position: absolute;
	background-color: currentColor;
	height: 770px;
	margin-top: 150px;
}

/* footer_information 영역 */
.footer_information {
	color: white;
	padding-bottom: 30px;
	background-color: #F73478;
}

.footer_information_image {
	float: left;
	padding-right: 20px;
	padding-top: 20px;
}

.footer>ul>li {
	display: inline;
	text-align: center;
	margin-left: 50px;
}

/* footer 영역*/
.footer>ul {
	margin-top: 50px;
	padding-bottom: 10px;
	padding-left: 30px;
}

/* footer 세로 선 */
.vi {
	border-left: 1px solid red;
	height: 10px;
	display: inline;
	margin-left: 50px;
}

.vii {
	border-left: 1px solid;
	margin-left: 10px;
	margin-right: 10px;
}
/* 캐러셀 이미지 크기 */
.carousel-inner>.item>img {
	width: 100%;
	height: 406px;
}

.caousel_event>.carousel {
	z-index: -1000;
}

/* 캐러셀 이미지 박스  */
.caousel_evnet {
	width: 100%;
	float: left;
}

/* information 텍스트 */
#line_text {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}

/* 한줄 긋기*/
hr {
	color: red;
	border-color: red;
	text-align: center;
}

.line {
	width: 100%;
	padding-top: 30px;
}

.coach {
	height: 150px;
	background-color: #F73478;
	padding-top: 50px;
}

.table-responsive {
	font-size: 0.8em;
}

.hot_issue {
	padding-bottom: 30px;
}

.manager_box {
	width: 228px;
	text-align: center;
	background-color: #F73478;
	padding-top: 20px;
	padding-bottom: 20px;
}

.manager_box_font {
	font-family: 'Do Hyeon', sans-serif;
	padding-top: 20px;
	color: white;
	font-size: 1.2em;
}

.label {
	width: 80px;
	height: 30px;
	background-color: #2FB5CA;
}
.logoutbutton{
	background-color: #F73478;
	width: 50px;
	height: 30px;
	color: white;
}

/* 화면에 표시하지 않음 */
#information_box1, #information_box2, #information_box3,
	#information_box4 {
	visibility: hidden;
}

/* 카테고리  */
#top_menu {
	position: relative;
	margin: 0 auto;
	display: inline-block;
	*display: inline;
	text-align: center;
	background-color: #F73478;
}

#top_menu_m ul {
	position: relative;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	*display: inline;
}

#top_menu_m ul li {
	float: left;
	width: 228px;
	height: 50px;
	padding-top: 15px;
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
}

#top_menu_m ul li a {
	text-decoration: none;
	color: #fff;
	padding: 0px;
}

#top_menu_m ul li a.onon {
	color: white;
	height: 50px;
}

#top_menu_m ul li a:hover {
	color: white;
}

#top_menu_m2 {
	position: absolute;
	overflow: hidden;
	z-index: 99;
	height: 0;
	text-align: center;
}

.wp_snbonly {
	position: relative;
	margin: 0 auto;
	height: 350px;
	display: inline-block;
	*display: inline;
	background-color: #FAF4F8;
}

.wp_snbonly ul {
	width: 228px;
	float: left;
	display: inline-block;
	*display: inline;
	padding: 0;
	margin: 0;
}

.wp_snbonly ul li {
	width: 100%;
	clear: both;
	text-align: center;
	float: left;
	height: 50px;
	font-family: 'Do Hyeon', sans-serif;
}

.wp_snbonly ul li:hover {
	background-color: pink;
}

.wp_snbonly ul li a {
	display: block;
	text-decoration: none;
	padding-top: 15px;
	color: #F73478;
}

.wp_snbonly ul li a:hover {
	color: white;
}

.wp_snbonly ul li a.onon {
	color: #1b2530;
}

.lnb_num5 a:hover {
	width: 228px;
	height: 100px;
}

.lnb_num1 {
	width: 100px;
	height: 55px;
}

#top_menu_m {
	height: 56px;
}

.date{
	width: 80px;
}