@charset "UTF-8";

.table th {
	text-align: center;
}

#title {
	background-color: #FFE1E6;
	color: black;
}

#profile_img {
	margin: auto;
}


#agree{
	margin-left : 200px;
}

#btn1{
	margin-top: 20px;
	margin-left: 580px;
}