@charset "UTF-8";

.new_pwd , .check_pwd{
			font-size:20px;
			padding-left:30px;
			
		}
		.new_pwd{
			margin-left: 70px;
			padding-top:30px;
		}
		.check_pwd{
			margin-left:70px;
		}
		/* 입력 영역 위치 조정*/
		fieldset{
			padding: 30px;

		}
		/* 비밀번호 페이지 링크 */
		#changeForm{
			font-size: 15px;
			text-align:right;
			text-decoration: line;
			font-color: blue;
		}
		/*인증 확인 버튼*/
		#btn{
			text-align:center;
			font-size:20px;
			margin-left: 150px;

}


		#show_id{
			
			margin-left:100px;
			font-size: 20px; 
		
		}
		
		#ok{
		 	margin-left:150px;
		}