@charset "EUC-KR";
* {
	margin: 0;
	padding: 0;
}

/* 모든 링크의 밑줄 제거
      ------------------------------------*/
a {
	text-decoration: none;
	color: #222;
}

/* 모든 목록정의 초기화. -여백은 6,7라인에서 제거했으므로 생략
      ------------------------------------*/
ul, ol {
	list-style: none;
}

/* 전체 박스 크기*/
.container {
	height: 2000px;
}

/* 로그인 박스 위치 */
.top_login {
	padding-top: 70px;
}

/* 왼쪽 사이드 바 */
.sidebar1 {
	padding-top: 80px;
	height: 500px;
}

/* 로그인 버튼 위치 */
.top_login>#connect {
	float: right;
}

/* 게시판 관리 글씨 위치 */
.middle {
	height: 50px;
}

/* ---------------- */
.content {
	height: 500px;
	border: 1px solid #EAEAEA;
}

.box10 {
	margin: auto;
	width: 800px;
}

.buttom {
	text-align: center;
}



.box14 {
	padding-left: 10px;
	border: 1px solid #bdbdbd;
	width: 250px;
	height: 35px;
}

.box13 {
	background-color: #eaeaea;
	text-align: center;
	border: 1px solid #bdbdbd;
	font-size: 15px;
	width: 150px;
	height: 35px;
}

.box16 {
	padding-left: 10px;
	border: 1px solid #bdbdbd;
	width: 250px;
	height: 35px;
}

.box15 {
	background-color: #eaeaea;
	text-align: center;
	border: 1px solid #bdbdbd;
	font-size: 15px;
	width: 150px;
	height: 35px;
}
.text20 {
font-size:25px;
}