@charset "UTF-8";


.box {
	width:800px;
	align: center;
}
		
.box img {
	width: 700px;
	height: auto;
}

.btn-graph {
	color:#9932CC;
	text: bold;
}

.btn btn-graph {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #5218EA;
  border: 1px solid #ddd;
}

