@charset "EUC-KR";
.box1 {
	float: left;
}

.text5 {
	font-size: 20px;
}

.boximg {
	float: left;
}

.box1 {
	width: 200px;
	height: 200px;
	padding-top: 20px;
	padding-left: 20px;
}

.box1 img {
	width: 150px;
	height: 150px;
	background-color: #ffe1e6;
}

.media {
	background-color: #ffe1e6;
	border: 1px solid #ffe1e6;
}

.text2 img {
	width: 30px;
	height: 30px;
	background-color: #ffe1e6;
}